{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block body %}
     <div class="container">
     <h1 class="mt-3 mb-3">Panneau d'administration</h1>
    <hr>
    <a href="{{ path('admin_commentaires') }}" class="btn btn-success">Administration des commentaires</a>
     </div>
{% endblock %}
